body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    position: relative;
}
input,select{
    background-color:var(--quadro-color);
}
h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: -50px;
}
h4{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#student-info-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    background-color: var(--secondary-color);
}
.forminputs{
    margin: 10px;
    padding: 10px;
    width: 300px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
}
#course{
    width: 320px;
}
#icon{
    width : 30px;
    cursor: pointer;
}
nav{
    width : 25px;
     height: 25px;
     position: absolute; top: 15px; right: 20px; flex: 1;
    text-align: right;
}
:root{
    --primary-color:#fafaffb8;
    --secondary-color:#d6d9eeb5;
    --triyo-color: #9caff9bd;
    --quadro-color: #ffffff;
}
.dark-theme{
    --primary-color:#1c26acb1;
    --secondary-color:#25232336;
    --triyo-color: #455dbfe4;
    --quadro-color: #c5ccf2c7;
}
.buttons{
    margin: 10px;
    padding: 10px;
    width: 100px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    background-color: var(--triyo-color);
    font-weight: bold;
}
.buttons:hover{
    cursor: pointer;
}
.buttons:nth-child(2){
    background-color: var(--triyo-color);
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    backdrop-filter: blur(8px);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader{
    border: 5px solid #070707;
    border-top: 5px solid rgba(29, 29, 32, 0.2);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

h1 {
    text-align: center;
    margin-top: 50px;
}

p {
    text-align: center;
    margin-top: 20px;
}
a{
    color: #000000;
    font-size: 15px;
}